# Dependencias
node_modules/

# Entorno y secretos
.env
.env.local
.env.*.local

# Builds y export
dist/
build/
web-build/

# Expo
.expo/
.expo-shared/

# Sistema / editor
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-error.log*

# Expo / RN generados
expo-env.d.ts
.metro-health-check*
*.tsbuildinfo
/ios
/android
.kotlin/

# Credenciales nativas
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
